*.pper
*.pper
.Rproj.user/20CA0A1E/pcs/source-pane.pper
.Rproj.user/20CA0A1E/pcs/windowlayoutstate.pper
.Rproj.user/20CA0A1E/pcs/workbench-pane.pper
.Rproj.user/20CA0A1E/rmd-outputs
.Rproj.user/20CA0A1E/pcs/files-pane.pper
.Rhistory
.Rproj.user/20CA0A1E/pcs/files-pane.pper
.Rproj.user/20CA0A1E/pcs/source-pane.pper
